@import 'variable';
@import 'reset';
@import 'font';

.container {
    display: flex;
}

@mixin transition($prop, $delay, $effect) {
    transition: $prop $delay $effect;
}

.separator {
    height: 1px;
    margin-bottom: 0.2rem;
    background: map-get($color, menuLinkActive);
}

/* Menu Style Starts */
.menu {
    padding: 1rem;
    width: 230px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    .logo {
        margin-bottom: 1rem;
    }
        img { width: 170px; }
    .menu-item {
        margin-bottom: 0.2rem;
        a {
            padding: 0.8rem;
            display: block;
            color: map-get($color, menuLink);
            border-radius: 7px;
            @include transition(color, 0.3s, ease-in-out);
            @include transition(background, 0.3s, ease-in-out);
            &.active,
            &:hover {
                background: map-get($color, menuLinkBg);
                color: map-get($color, menuLinkActive);
            }
            .icon {
                margin-right: 0.8rem;
                vertical-align: sub;
            }
        }
    }
}
/* Menu Style Ends */

/* Main Content Style Starts */
.main-content {
    width: calc(100% - 230px);
    background: map-get($color, mainBg);
    padding: 1rem;
    .header {
        display: flex;
        justify-content: space-between;
        .date-container {
            display: flex;
            align-items: center;
            padding: 0 10px 10px;
            border-bottom: 1px solid map-get($color, menuLinkActive);
            .date,
            .month,
            .year { margin: 0 3px; }
            .date { font-size: 1.2rem; }
            .month { font-size: 1rem; }
            .year { font-size: 0.85rem; }
        }
        .user-container {
            display: flex;
            align-items: center;
            padding: 3px 10px;
            background: map-get($color, white);
            border-radius: 2px;
            box-shadow: 0px 0px 3px map-get($map: $color, $key: menuLink);
            .title {
                text-align: right;
                font-size: 0.85rem;
                padding-right: 15px;
                .name { font-weight: 600; }
                .comp-name {
                    font-size: 0.65rem;
                    text-transform: uppercase;
                }
            }
            .icon-user {
                padding: 2px;
                margin: 0 7px;
                color: #5FBCD3;
                border: 1px solid map-get($map: $color, $key: menuLink);
                font-size: 2rem;
            }
        }
    }
    .top,
    .bottom {
        display: flex;
        justify-content: space-between;
    }
    .top {
        margin: 15px 0;
        .spend-summary {
            width: 39%;
            .item {
                height: 35px;
                line-height: 35px;
                display: flex;
                justify-content: space-between;
                font-size: 0.75rem;
                &:last-child { align-items: flex-end; }
                .amount { font-size: 1rem; }
                a.amount {
                    color: map-get($map: $color, $key: textBlue);
                    .icon-link { font-size: 0.85rem; }
                }
                .link {
                    display: flex;
                    align-items: center;
                }
            }
        }
        
        .spending-category {
            width: 59%;
        }
        
        .spend-summary,
        .spending-category {
            background: map-get($map: $color, $key: white);
            padding: 15px 25px;
            box-sizing: border-box;
            border-radius: 7px;
            h3 { padding-bottom: 15px; }
        }
    }

    .bottom {
        .transactions,
        .payments {
            width: 49%;
            box-sizing: border-box;
            border-radius: 7px;
            .heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                & > div { display: flex; }
                a {
                    color: map-get($map: $color, $key: textBlue);
                    display: flex;
                    font-size: 0.8rem;
                    align-items: center;
                    padding-left: 15px;
                    i {
                        @include transition(transform, 0.25s, ease-in-out);
                    }
                    &:hover {
                        i {
                            transform: translate(5px);
                        }
                    }
                }
            }
            li {
                display: flex;
                padding: 10px;
                margin-bottom: 10px;
                background: map-get($map: $color, $key: white);
                border-radius: 5px;
                align-items: center;
                line-height: 1.8;
                border: 1px solid map-get($map: $color, $key: menuLinkActive);
                .amt-container {
                    width: 35%;
                    text-align: right;
                    padding-right: 20px;
                    border-right: 1px solid map-get($map: $color, $key: menuLink);
                    font-size: 0.75rem;
                    & > div:first-child {
                        color: #137D3D;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }
                    .amount { font-size: 1.2rem; }
                }
                .title {
                    width: 55%;
                    padding: 0 20px;
                    flex-direction: column;
                    .date { font-size: 0.85em; }
                }
                .actions {
                    width: 20%;
                    display: flex;
                    justify-content: flex-end;
                    a {
                        width: 50%;
                        text-align: center;
                    }
                }
            }
        }
        .payments {
            li { align-items: flex-start; }
            .actions a {
                width: 100%;
                font-size: 0.85rem;
            }
            .amt-container > div:first-child {
                color: map-get($map: $color, $key: menuLinkBg)!important;
            }
        }
    }
}
/* Main Content Style Ends */